{% extends 'pages/layout.html' %}

{% block content %}
<form id="book" onsubmit='updateBook(event, {{book.id}})'>
    <label>title</label>
    <input id= 'title' type="text" value="{{book.title}}" />
    <label>author first name</label>
    <input id='first' type="text" value="{{author.first_name}}" />
    <label>author last name</label>
    <input id= 'last' type="text" value="{{author.last_name}}" />
    <label>description</label>
    <textarea id='description'>{{book.description}}</textarea>
    <label>price:</label>
    <input id='price' type="number" step="any" value={{book.price}} />
    <input type="submit" value="update"/>
</form>
<a href="/">BACK</a>
{% endblock content %}
