{% extends 'pages/layout.html' %}

{% block header %}
<form onsubmit = "createBook(event)" >
  <label>title</label>
  <input id= 'newTitle' type="text"  />
  <label>description</label>
  <textarea id='newDescription'></textarea>
  <label>price:</label>
  <input id='newPrice' type="number" step="any"  />
  <select id='author' class="form-select" aria-label="Default select example">
    {% for author in authors %}
    <option value="{{author.first_name}} {{author.last_name}}">{{author.first_name}} {{author.last_name}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Create"/>
</form>

{% endblock header %}

{% block content %}
<h2>All Books</h2>
<div id = "bookHolder">
    {% for book in books %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.description}}</p>
          <a href="book/{{book.id}}/" class="btn btn-primary">View and Edit</a>
          <button onclick="deleteBook({{book.id}})" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock content %}